@{
    ViewBag.Title = "Home Page";
}

<!--banner-->
<div class="banner">
    <div class="matter-banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <img src="~/images/HomeBanner.png" alt="">
                        <div class="tes animated wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <h2>Digital Library</h2>
                            <h3>One Level Up</h3>
                            @*<h3><b>Anurag Group Of Institutions</b></h3>*@
                            <p></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!--//banner-->
<!--content-->
@*<div class="content">
    <div class="container">
        <div class="content-top">
            <div class="content-top1">
               <div class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">

                </div>
               * <div class="col-md-6 animated wow fadeInDown animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                    <div class="col-md3">
                        <div class="up-t">
                            <h3>Flat 50% Offer</h3>
                        </div>
                    </div>
                </div>*@
                <div class="col-md-3 col-md2 animated wow fadeInRight" data-wow-delay=".5s">
                    
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="content-top1">
               
                </div>
                <div class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">
                    
                </div>
                <div class="col-md-3 col-md2 animated wow fadeInRight" data-wow-delay=".5s">
                    
                </div>
                <div class="col-md-3 col-md2 cmn animated wow fadeInRight" data-wow-delay=".5s">
                    
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--//content-->
<div class="con-tp">
    <div class="container">
        <div class="col-md-4 con-tp-lft animated wow fadeInLeft" data-wow-delay=".5s">
            <a href="/BookDisplay/Index/IT">
                <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="/images/itn1.jpg" alt="image" class="img-responsive zoom-img"  ></div>
                    <div class="info-box">
                        <div class="info-content simpleCart_shelfItem">
                            <h4><b>IT</b></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 con-tp-lft animated wow fadeInDown animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
            <a href="/BookDisplay/Index/CSE">
                <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="/images/cse.png" alt="image" class="img-responsive zoom-img" ></div>
                    <div class="info-box">
                        <div class="info-content simpleCart_shelfItem">
                            <h4><b>CSE</b></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 con-tp-lft animated wow fadeInRight" data-wow-delay=".5s">
            <a href="/BookDisplay/Index/ECE">
                <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="/images/ece.png" alt="image" class="img-responsive zoom-img"></div>
                    <div class="info-box">
                        <div class="info-content simpleCart_shelfItem">
                            <h4><b>ECE</b></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 con-tp-lft animated wow fadeInLeft" data-wow-delay=".5s">
            <a href="/BookDisplay/Index/EEE">
                <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="/images/eee.png" alt="image" class="img-responsive zoom-img" ></div>
                    <div class="info-box">
                        <div class="info-content simpleCart_shelfItem">
                            <h4><b>EEE</b></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 con-tp-lft animated wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <a href="/BookDisplay/Index/MECH">
                <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="/images/mech.jpg" alt="image" class="img-responsive zoom-img" ></div>
                    <div class="info-box">
                        <div class="info-content simpleCart_shelfItem">
                            <h4><b>MECH</b></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 con-tp-lft animated wow fadeInRight" data-wow-delay=".5s">
            <a href="/BookDisplay/Index/CIVIL">
                <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="/images/civil.jpg" alt="image" class="img-responsive zoom-img" ></div>
                    <div class="info-box">
                        <div class="info-content simpleCart_shelfItem">
                            <h4><b>CIVIL</b></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
@*<div class="c-btm">
        <div class="c-btm">
            <div class="content-top1">
                <div class="container">
                    <div class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">

                    </div>
                    <div class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">

                    </div>
                    <div class="col-md-3 col-md2 animated wow fadeInRight" data-wow-delay=".5s">

                    </div>
                    <div class="col-md-3 col-md2 animated wow fadeInRight" data-wow-delay=".5s">

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>*@