@model Library.Web.UI.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Account</li>
        </ol>
    </div>
</div>

<div class="account">
    <div class="container">
        <h2>Account</h2>
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    if (ViewBag.invalidUser == true)
    {
        <div class="well">@ViewBag.Message </div>
    }

        <div class="account_grid">
            <div class="col-md-6 login-right">
                <form action="#" method="post">

                    <span>Student ID</span>
                    @*<input type="text" name="email">*@
                    @Html.TextBoxFor(m => m.StudentId)
                   
                    <span>Password</span>
                    @*<input type="password" name="password">*@
                    @Html.PasswordFor(m => m.Password)
                    

                    <div class="word-in">
                        <a class="forgot" href="#">Forgot Your Password?</a>
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
            <div class="col-md-6 login-left">
                <h4>NEW USER</h4>
                <p>By creating an account with ous, you will be able to move through the checkout process faster, store multiple books, view and track your book status in your account and more.</p>
                
            </div>
            <div class="clearfix"> </div>
        </div>
}
    </div>
</div>
